@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Teko&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    color: #4a4f74;
}

/* headings and logo */

h1, h2 {
    font-family: Teko, sans-serif;
    letter-spacing: 6px;
}

header a {
    text-decoration: none;
    color: inherit;
}

.menu li {
    float: right;
    margin: 40px 40px 30px 0;
    font-size: 120%;
    list-style-type: none;
}

#logo {
    float:left;
    text-transform: uppercase;
    font-size: 350%;
    margin: 20px 0 30px 20px;
}

/* display dot below the element - code copied from Stack Overflow*/

.select {
    display: inline-block;
    position: relative;
}

.select::before {
    content: '.';
    display: inline-block;

    position: absolute;
    bottom: -0.5em;
    left: 0;

    text-align: center;
    width: 100%;
    font-size: 200%;
}

/* hero section */

#trump-section {
    align-items: center;
}

#trump-image {
    clear: left;
    height: 600px;
    width: 100%;
    background: url("../images/earth-space.jpg") no-repeat center center;
    background-size: cover; /* fills the whole div space */
    position: relative;
}

#trump-idea {
    height: 140px;
    width: 580px;
    text-transform: uppercase;
    font-size: 200%;
    text-align: center;
    border: none;
    background-color: rgba(240,248,255, .7);
    
    /* centering div */
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    overflow: auto;
}

#trump-idea h3 {
    font-size: 75%;
}

/* smartphone viewport */

@media screen and (max-width: 800px) {
    
    #logo {
        clear: both;
        width: 100%;
        text-align: center;
        margin: 20px 0 0 0;
    }
    
    .menu {
        text-align: center;
    }

    .menu ul {
        display: inline-block;
    }

    .menu li {
        margin: 0 auto;
        padding: 20px;
    }
}
